# https://pytorch.org/get-started/locally
pytorch
# https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-win_amd64.whl 
# https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-win_amd64.whl 

# etc module
numpy==1.16.2
scipy
typing
cloudpickle
opencv-python
wandb

# mujoco
